.cardWrapper {
  width: fit-content;
  min-width: 300px;
  max-width: 500px;
  height: fit-content;
}

.cardWrapperLight {
  color: #777777;
  background-color: var(--card-body-light);
}
.cardWrapperDark {
  color: white;
  background-color: var(--card-body-dark);
}

.cardWrapper:hover {
  cursor: move;
}

.cardHeaderDark {
  background-color: var(--card-header-dark);
}

.cardHeaderLight {
  background-color: var(--card-header-light);
}

.cardWrapper h3 {
  overflow: auto;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1.5px;
  padding: 10px 10px;
  margin: 0;
}

.column p {
  margin: 0;
  margin-top: 8px;
}

.column {
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  height: 40px;
  padding: 0 10px;
  padding-bottom: 10px;
}

.highlightDark {
  background-color: #4b4c53;
}

.highlightLight {
  background-color: #deecf3;
}

.highlightMoreDark {
  color: aquamarine;
}

.highlightMoreLight {
  color: black;
}

.refCount {
  margin-left: 5px;
  height: 5px;
  padding: 0 5px;
  border-radius: 5px;
  color: black;
}

.refCountDark {
  background: aquamarine;
}

.refCountLight {
  background: var(--card-header-light);
  color: white;
}
